.jana{
    min-height: 100px;
    min-width: 100px;

}
.image{
    height:50px;
}
.image1{
    width:50px;
    height:50px;
}
.bg-color{
    color:whitesmoke;
}
.colo{
    color:azure;
   
}
