div.container{
    border:solid 3px white;
}

.p50{
    padding:50px;
    
}
.color-1{
    min-height: 500px;
}
.grid.container{
    border:2px red solid;   
}
.bg{
    border:solid 2px black;

}
.w-100{
    height:100px;
    background-color: red;
}
.image{
    background-image: url("https://images.summitmedia-digital.com/cosmo/images/2018/11/27/blackpink-lisa-1543288094.jpg");
    height:800px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mar{
    margin-left:800px;
}


