body {
  transition: background-color 0.5s;
}

.success-message {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  animation: slide-down 1s ease-in-out;
}

@keyframes slide-down {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}